#!/bin/bash

wid=$1
class=$2
instance=$3

title="$(xtitle $wid)"

if [[ "$class" == "ui" ]]; then
    echo "state=floating"
fi

if [[ "$class" == "submit" ]]; then
    echo "state=floating"
fi

if [[ "$class" == "Steam" ]]; then
    if [[ "$title" != "Steam" ]]; then
        echo "state=floating"
    fi
fi

if [[ "$instance" == "mpterm" ]]; then
    echo "locked=on"
elif [[ "$class" == "update" ]]; then
    echo "rectangle=700x420+610+330"
fi

case "$instance" in
    "mpterm" | "floating")
        echo "state=floating"
        ;;
esac

if [[ "$title" == "Steam Keyboard" ]]; then
    echo "state=floating"
    echo "focus=off"
    echo "layer=above"
fi

if [[ "$title" == "Discord Updater" ]]; then
    echo "state=floating"
fi

if [[ "$class" == "Zathura" ]]; then
    echo "state=tiled"
fi

if [[ "$class" == "anbox" ]]; then
    echo "state=floating"
fi

if [[ "$class" == "gnome-calculator" ]]; then
    echo "state=floating"
fi

if [[ "$class" == "Gnome-system-monitor" ]]; then
    echo "state=floating"
fi

case "$(xprop -id "$wid" _NET_WM_WINDOW_TYPE)" in
    *_NET_WM_WINDOW_TYPE_UTILITY* )
        echo "layer=above"
        ;;
esac
